---
import MovieExplorer from '@/components/MovieExplorer';
import '@/styles/home.scss';
import type { Movie } from '@/types/movie';

interface Props {
  trendingMovies: Movie[];
}

const { trendingMovies } = Astro.props;
---

<main class="home">
  <h1 class="home-title">Trending Movies</h1>
  <p class="home-subtitle">
    Explore the latest trending movies. Click on any movie to see more details and add it to your
    favorites!
  </p>

  <MovieExplorer client:load movies={trendingMovies} />
</main>
